


#email-btn{
    border-radius: 8px;
    width: 100%;
    color: white;
    border-color: #00BF63;
    height: 35px;
    background-color: #00BF63;
    transition:.3s;
    font-size: 18px;
    font-weight: 600;
}

#email-btn:hover{
    border-radius: 8px;
    width: 100%;
    color: #00BF63;
    border-color: #00BF63;
    height: 35px;
    transform: scale(1) !important;
    background-color: white;
}