


.post-title-create{
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    width: 100%;
    margin-bottom: 10px;
    border-color: rgb(163, 163, 163);
}

.post-title-create:focus{
    outline: auto;
    box-shadow: 0px 0px 8px #ddd;
}

#textAreaExample6:focus{
    outline: none;
    box-shadow: 0px 0px 8px #ddd;
    border: none;
}

#multiselect{
    margin-top: 5px;
    margin-bottom: 30px;
    .chip {
        align-items: center;
        background: #00BF63;
        border-radius: 11px;
        color: #fff;
        display: inline-flex;
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 4px 10px;
    }
}


#create-post-container{
}

#search_input:placeholder{

}




.option{
    background-color: #ffffff;
}




.post-description-create{
    border-radius: 5px;
    border: solid;
    margin-bottom: 10px;
    border-width: 1px;
    width: 100%;
    border-color: rgb(163, 163, 163);
}

.post-description-create:focus{
    outline: auto;
    box-shadow: 0px 0px 8px #ddd
}


#post-error{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-error-message{
    width: 500px;
    font-size: 16px;
    color: red;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(247, 190, 190);
}

.note-pdf{
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.dot{
    justify-content: center;
    font-weight: 600;
    margin-bottom: 45px;
    height: 5px;
}

.group-dot{
    margin-bottom: 20px;
}

#select-category{
    
}

#title-lable{
    font-weight: 600;
}

.upload-file{
    height: 35px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00BF63;
    font-weight: 700;
    transition:.3s;
}


.upload-file:hover{
    background-color:  white;
    color: #00BF63;
    border: solid;
    border-color: #00BF63;
    transform: scale(1) !important;
    border-color: white ;
}


.label-uploading{
    height: 35px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a4c728;
    font-weight: 700;
    transition:.3s;
}




.file-icon{
    margin-right: 5px;
}


#save{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-weight: 700;
    transition:.3s;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    height: 35px;
    width: 100%;
    color: #00BF63;
}

#save:hover{
    background-color: #00BF63;
    color: black;
    border-color: black;
    transform: scale(1) !important;
    border-color: white ;
}


#discard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-weight: 700;
    transition:.3s;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    height: 35px;
    width: 100%;
    color: red;
}

#discard:hover{
    background-color: red;
    color: black;
    border-color: black;
    transform: scale(1) !important;
    border-color: white ;
}


@media only screen and (max-width: 670px) {
    #create-post-container{
        margin-left: 14px;
    }
    #save{
        margin-bottom: 15px;
    }
}